@import url('https://fonts.googleapis.com/css2?family=Wendy+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&family=Wendy+One&display=swap');
.Intro{
    background-color:#FEEFD0;
    display: flex;

    &__Left{
        padding:5vw  7vw ;

        &__Title{
            font-family: wendy one;
            font-size:6rem;
            color: #642C99;
            font-weight: 400;
        }
        @media screen and (max-width:768px) {
            &__Title{
                font-size: 3rem;
            }
        }

        p{
            font-size: 2rem;
            color: #642C99;
            font-weight: 400; 
            padding-bottom: 3vw;
        }
        @media screen and (max-width:768px) {
            p{
                font-size: 1rem;
            }
        }

        button{
          width:30%; 
          height:6%;
          font-family: Lato;
          background-color: #642C99;
          color: #FEEFD0;
          border-radius: 7px;
          border-color: #642C99;
        }
        @media screen and (max-width:768px) {
            button{
                width: 60%;
                height: 40px;
            }
        }


    }
    &__Right{
        .imag{
            display: none;
        }

        @media screen and (max-width:768px) {
            .image{
                display: none;
            }
            .imag{
                width: 60vw;
                padding-left: 40vw;
            }
        }
        
 

    }
}
@media screen and (max-width:768px) {
    .Intro{
        display: flex;
        flex-direction: column;
    }
}