@import url('https://fonts.googleapis.com/css2?family=Lato&family=Wendy+One&display=swap');
.Header{
    background-color: #FCEFD2;
    //width: 100vw;
    box-sizing: border-box;
    
    &__Left{
      display:flex;
      color: #642C99;
      font-weight: 300;
      font-size: 1.5rem;
      font-family: lato;
    //  &__Left__Home:active{
    //     color: #642C99;
    //   } 

      @media screen and (max-width:768px){  
        display:none;
      }
      
      &__Home{
        padding: 5vw 0 0 7vw;
      }
      &__Contact{
        padding: 5vw 0 0 3vw;
      }
      &__Welcome{
        padding: 5vw 0 0 3vw;
      }
    }
    &__Right{
      display: flex;
      justify-content: flex-end;

      .cart{
        width: 20vw;
      } 
      @media screen and (min-width:768px) {
      .cart{
        width: 7vw;
        padding-right: 1vw;
      }
    }
    }
}